<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368188257120-e8nbhd6o7to58bcjk1m4c4a1klo3utd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368188257120-e8nbhd6o7to58bcjk1m4c4a1klo3utd0</string>
	<key>API_KEY</key>
	<string>AIzaSyBiJH9TkanJiVnhLJxGn3h6HHEKIq_kslA</string>
	<key>GCM_SENDER_ID</key>
	<string>368188257120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oleksandrdev.justmynotes</string>
	<key>PROJECT_ID</key>
	<string>just-my-notes-9a60f</string>
	<key>STORAGE_BUCKET</key>
	<string>just-my-notes-9a60f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368188257120:ios:7fcbf42fc898b4d41ea405</string>
</dict>
</plist>